.tree-page {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 90px;
    width: 100%;
}

@media screen and (max-width: 1205px) {
    .tree-page {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
}

.tree-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 450px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.tree-block__tree-items{
    overflow-y: hidden;
}

.heading{
    font-family: Roboto, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    color:  #292222;
    margin: 0;
}

.tree-block__header {
margin: 14px 0 0 30px;
}

.tree-block__button-block{
    margin-top: 20px;
    margin-bottom: 10px;
}

.tree-block__close-button{
    margin-right: 5px;
}

.btn {
    border: 1px solid #BCBCBC;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: initial;
}

.description-block {
    max-width: 880px;
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
}

.description-block__filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

@media screen and (max-width: 1205px) {
    .description-block__filters {
        flex-direction: column;
        align-items: flex-start;
    }
}

.rc-tree-treenode:hover {
    background-color: #D8D8D8B2;
    cursor: pointer;
}

.rc-tree-checkbox {
    width: 16px !important;
    height: 16px !important;
    margin-right: 8px !important;
    position: relative !important;
    border: 2px solid #292222 !important;
    border-radius: 2px !important;
    display: inline-block !important;
    background: #fff !important;
    box-sizing: border-box !important;
}

.custom-switcher {
    width: 10px;
    height: 6px;
    display: inline-block;
    cursor: pointer;
    background-size: contain;
    margin-right: 8px;
    background-repeat: no-repeat;
}

.custom-switcher.collapsed {
    background-image: url('../../images/close.png');
    width: 20px;
    height: 10px;
}

.custom-switcher.expanded {
    background-image: url('../../images/open.png');
}

.rc-tree-treenode-selected .rc-tree-node-content-wrapper {
    background-color: #D8D8D8B2;
    border-radius: 4px;
    border: none;
    box-shadow: none;
}

.rc-tree-title {
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

.rc-tree-icon__customize {
    height: unset !important;
    background-image: unset !important;
    width: unset !important;
}

.rc-tree-switcher {
    background-image: unset !important;
}

.rc-tree-checkbox-checked {
    background-image: url('../../images/open.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.rc-tree-treenode {
    margin-top: 3px !important;
}